﻿
@{
    ViewBag.Title = "UsersList";
}

<h2>Users</h2>
<div id="UsersGrid" data-bind="source: users"></div>
<script>
    ///////////

    var usersApiUrl = "http://localhost:62692/api/Users/";
    var departmentsApiUrl = "http://localhost:62301/api/departments/";

    ///////////

        var vm = kendo.observable({
            users: new kendo.data.DataSource({
                transport: {

                    read: function (options) {
                        getUsers(function (res) {
                            options.success(res)
                        });
                    },

                    create: function (options) {
                        options.success(
                            addUser(options.data)
                            );
                    },

                    update: function (options) {
                        options.success(
                            putUser(options.data)
                            );
                    },

                    destroy: function (options) {
                        options.success(deleteUser(options.data));
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "int", validation: { required: false, defaultValue: 0 } },
                            Name: { type: "string", validation: { required: true, defaultValue: "Nicola" } },
                            Department: { type: "string", validation: { required: true } }
                        }
                    }
                },
                error: function (a) {
                    $('#UsersGrid').data("kendoGrid").cancelChanges();
                }
            })
        });

        function depEditor(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "Title",
                    dataValueField: "Id",
                    dataSource: {
                        transport: {
                            read: {
                                url: departmentsApiUrl,
                                dataType: "jsonp"
                            }
                        }
                    }
                });
        }

        // Grid
        $("div#UsersGrid").kendoGrid({
            columns: [
                { field: "Id" },
                { field: "Name" },
                { field: "Department", editor: depEditor },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "180px" }
            ],
            toolbar: ['create'],
            editable: 'popup',
            edit: function (e) {
                e.container.find(".k-edit-label:first").hide();
                e.container.find(".k-edit-field:first").hide();
            }
        });

        kendo.bind($("#UsersGrid"), vm);

        // webapiUsers
        function putUser(u) {
            var userr = {
                id: u.Id,
                DepartmentId: u.Department,
                UserName: u.Name
            };
            $.ajax({
                type: 'Put',
                url: usersApiUrl + u.Id,
                data: userr,
                success: function () {
                    $('#UsersGrid').data('kendoGrid').dataSource.read();
                    $('#UsersGrid').data('kendoGrid').refresh();
                }
            });
        }

        function deleteUser(u) {
            $.ajax({
                type: 'DELETE',
                url: usersApiUrl + u.Id
            });
        }

        function addUser(d) {
            var userr = {
                id: d.Id,
                DepartmentId: d.Department,
                UserName: d.Name
            };
            $.ajax({
                type: 'POST',
                url: usersApiUrl,
                data: userr,
                success: function () {
                    $('#UsersGrid').data('kendoGrid').dataSource.read();
                    $('#UsersGrid').data('kendoGrid').refresh();
                }
            });
        }

        function getUsers(successfunc) {
            $.ajax({
                type: 'GET',
                url: usersApiUrl,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    getDepartments(result, successfunc);
                }
            });
        }

        // webapiDepartments
        function getDepartments(users, successfunc) {
            $.ajax({
                type: 'GET',
                url: departmentsApiUrl,
                contentType: 'application/json; charset=utf-8',
                dataType: 'jsonp',
                success: function (departments) {
                    var result = [];
                    for (var i = 0; i < users.length; i++) {
                        if (typeof users[i].Id != "undefined") {
                            result[i] = {
                                Id: users[i].Id,
                                Name: users[i].UserName,
                                Department: departments[users[i].DepartmentId - 1].Title
                            }
                        }
                    }
                    successfunc(result);
                }
            });
        }
</script>