﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="~/Scripts/jskendo/jquery.min.js"></script>
    <script src="~/Scripts/jskendo/kendo.all.min.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>